#about{
    height: 100vh;
    width: 100vw;
    background-color: black;

    display: grid;
    grid-template-columns: 30px auto 30px;
    grid-template-areas: ". about .";

    @include md{
        position: relative;
    }

    #about-container{
        grid-area: about;

        #about-svg-container{
            display: grid;
            grid-template-columns: 50% auto 5%;
            grid-template-areas: ". about-svg .";

            padding-top: 15%;
            position: relative;

            @include md{ 
                padding-top: 10%;
                grid-template-columns: 60% auto 5%;
            }

            @include lg{ 
                padding-top: 5%;
                grid-template-columns: 65% auto 5%;
            }

            #about-svg{
                grid-area: about-svg;
                position: absolute;
            }
        }
    }

    #about-text-container{
        display: grid;
        grid-template-columns: 30px auto 30px;
        grid-template-areas: ". about-text .";

        padding-top: 65%;

            @include md{
                padding-top: 30%;  
                grid-template-columns: 5% auto 40%; 
            }

            @include lg{
                padding-top: 5%; 
                grid-template-columns: 10% auto 55%; 
            }
            
            @include xl{
                padding-top: 5%; 
                grid-template-columns: 10% auto 60%; 
            }

        #about-text{
            grid-area: about-text;

            p{
                color: white;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                font-size: rem-calc(16);
                padding: 1em;
                background-color: black;
            }
        }

    }
}