
#branding{
    width: 100vw;
    background-color: var(--white);

    display: grid;
    grid-template-columns: 0px auto 0px;
    grid-template-areas: ". branding .";

    #branding-container{
        grid-area: branding;
        overflow: hidden;

        display: grid;
        grid-template-areas: "branding-image-1"
                             "branding-text";

        @include md{
            grid-template-areas: "branding-image-1 branding-text";
            //grid-template-columns: repeat(1, 1fr);
            grid-template-columns: 60% auto;
            grid-template-rows: repeat(1, 100%);

            gap: 30px;
        }

        @include lg{
            grid-template-areas: "branding-image-1 branding-text";
            //grid-template-columns: repeat(1, 1fr);
            grid-template-columns: 70% auto;
            grid-template-rows: repeat(1, 100%);

            gap: 30px;
        }

        #branding-image-container{
            grid-area: branding-image-1;

            //height: 100%;
            width: 100%;
            // display: flex;
            // justify-content: center;

            ul{
                //height: 100%;
                width: 100%;
                
    
                // @include md{
                //     height: 750px;  
                // }

                li {
                    background-position: center;
                    background-size: cover;
    
                    a:link,a:visited{
                        height: 609px;
                        display: inline-block;

                        @include md{
                            height: 750px;
                            width: 100%; 
                        }

                    }
                }
            }
        }

        .carousel-2 {
            height: 609px;
            //width: 100vw;
            //width: 827px; 

            @include md{
                height: 750px;
                //width: 827px; 
            }

            .carousel__nav{
                display: none;
            }

            .carousel__slide {
                display: flex;
                align-items: center;
                justify-content: center;

                padding: 0rem;
              
                width: 100%;
                height: 100%;
            }

            .carousel__dots {
                color: var(--black);
                margin-top: 5px;
                z-index: 20;
                position: static;

                @include md{
                    margin-bottom: 10px;
                }
            }
        }

        #branding-text-container{
            grid-area: branding-text;

            display: flex;
            justify-content: center;
            align-items: flex-end;

            padding-bottom: 30px;
            //padding-top: 5%;

            @include md{
                padding-top: 0%;
            }

            #branding-text{
                max-width: 450px;
                color: var(--black);
    
                @include md{
                    max-width: 325px; 
                    margin: 0px; 
                    padding-right: 30px;
                }
    
                @include lg{
                    max-width: 400px;
                }
        
                h1{
                    font-weight: 800;
                    font-size: rem-calc(26);
                    padding-bottom: 10px;
    
                    @include md{
                        font-size: rem-calc(40); 
                    }
                }
                
                p{
                    font-weight: 400;
                    font-size: rem-calc(16); 
                    line-height: 1.3em;
                    padding-bottom: 10px;
    
                    @include md{
                        font-size: rem-calc(20); 
                    }
                }
                
                #branding-p2{
                    font-size: rem-calc(16); 
                    color: gray;  
                }
            }
        }
    }
}

#branding-photo-1{
    background-image: url('../img/sjbcard.jpg');
}
#branding-photo-2{
    background-image: url('../img/sjlogo.jpg');
}
#branding-photo-3{
    background-image: url('../img/sjletter.jpg');
}
#branding-photo-4{
    background-image: url('../img/claylogo.jpg');
}
#branding-photo-5{
    background-image: url('../img/claybcard.jpg');
}
