#hero {
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;

   background-image: url('../img/hero.jpg');
   background-position: center;
   background-size: cover;
   

   #hero-text{
      background-color: rgba(0, 0, 0, 0.1);

      h1{
         color: white;
         font-family: 'Sonder-Medium', serif;
         font-size: rem-calc(100);
         text-align: center;
   
         @include md{
            font-size: rem-calc(200); 
         }
   
         @include lg{
            font-size: rem-calc(250); 
         }
   
         @include xl{
            font-size: rem-calc(300); 
         }
      }
   
      h3{
         color: white;
         font-size: rem-calc(35);
         text-align: center;
   
         @include md{
            font-size: rem-calc(45); 
         }
   
         @include lg{
            font-size: rem-calc(50); 
         }
   
         @include xl{
            font-size: rem-calc(60); 
         }
      }
   }

   #hero-svg-container{
      height: 100%;
      width: 100%;
      margin-top: 0px;
      position: absolute;

      // #hero-background-line{
      //    height: 50px;
      // }


   }

   // #hero-svg-2{
   //    position: relative;
   
   //    #hero-svg-svg{
   //       position: absolute;
   //    }
      
   // }
}