#photography{
    width: 100vw;

    display: grid;
    grid-template-columns: 30px auto 30px;
    grid-template-areas: ". photography .";

    padding-top: 20%;
    padding-bottom: 5%;

    @include md{
        grid-template-columns: 5% auto 5%;  
        padding-top: 30%;
    }

    #photography-container{
        grid-area: photography;
        overflow: hidden;

        display: grid;
        grid-template-areas: "project-svg"
                             "photography-images"
                             "photography-text";
        gap: 10px;

        @include md{
            grid-template-areas: "project-svg . "
                                 "photography-text photography-images";
            grid-template-columns: repeat(2, 1fr);
            

            gap: 40px;
        }

        @include lg{
            gap: 60px; 
        }

        #project-svg-container{
            grid-area: project-svg;

            display: grid;
            grid-template-columns: auto 50%;
            grid-template-areas: "project-svg-2";

            padding-bottom: 5%;

            @include md{ 
                grid-template-columns: auto 5%;
            }

            @include lg{ 
                grid-template-columns: auto 5%;
            }

            #project-svg{
                grid-area: project-svg-2;
            }

        }

        #photography-image-container{
            grid-area: photography-images;

            height: 100%;
            width: 100%;


            display: flex;
            justify-content: center;

            ul{
                grid-area: images;
                height: 100%;
                width: 100%;
    
                @include md{
                    height: 750px;  
                }

                li {
                    background-position: center;
                    background-size: cover;
    
                    a:link,a:visited{
                        height: 609px;
                        width: 359px;
                        display: inline-block;

                        @include md{
                            height: 750px; 
                            width: 458px; 
                        }

                    }
                }
            }

            .carousel-1 {
                height: 609px;
                width: 359px;

                @include md{
                    height: 750px;
                    width: 458px;  
                }

                .carousel__nav{
                    display: none;
                }

                .carousel__slide {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    padding: 0rem;
                  
                    width: 100%;
                    height: 100%;
                }

                .carousel__dots {
                    color: var(--white);
                    margin-top: 10px;
                    z-index: 20;
                    position: static;
                }
            }

        }

        #photography-text-container{
            grid-area: photography-text;
            color: var(--white);

            display: flex;
            justify-content: center;

            #photography-text{
                max-width: 450px;

                @include md{
                    max-width: 325px;  
                }

                @include lg{
                    max-width: 400px;
                }

                h1{
                    font-weight: 800;
                    font-size: rem-calc(26);
                    padding-top: 5%;
    
                    @include md{
                        font-size: rem-calc(40); 
                        padding-bottom: 20px;
                        padding-top: 0%;
    
                    }
                }
                
                p{
                    font-weight: 400;
                    font-size: rem-calc(16); 
                    padding-bottom: 5%;
                    line-height: 1.3em;
    
                    @include md{
                        font-size: rem-calc(20); 
                    }
                }
                #photo-p3{
                    font-size: rem-calc(16); 
                    color: gray; 
                }
            }
        }
    }

    #photo-1{
        background-image: url('../img/Photo1.jpg');
    }
    #photo-2{
        background-image: url('../img/photo-2.jpg');
    }
    #photo-3{
        background-image: url('../img/photo-3.jpg');
    }
    #photo-4{
        background-image: url('../img/photo-4.jpg');
    }
    #photo-5{
        background-image: url('../img/photo-5.jpg');
    }
    #photo-6{
        background-image: url('../img/photo-6.jpg');
    }
    #photo-7{
        background-image: url('../img/photo-7.jpg');
    }
    #photo-8{
        background-image: url('../img/photo-8.jpg');
    }
}