#photography{
    background-color: black;
    width: 100vw;

    display: grid;
    grid-template-columns: 30px auto 30px;
    grid-template-areas: ". photography .";

    padding-top: 10%;
    padding-bottom: 5%;

    @include md{
        grid-template-columns: 10% auto 10%;  
        padding-top: 0%;
    }

    #photography-container{
        grid-area: photography;

        display: grid;
        grid-template-areas: "project-svg"
                             "photography-image-1"
                             "photography-text";
        gap: 10px;

        @include md{
            grid-template-areas: "project-svg . "
                                 "photography-text photography-image-1";
            grid-template-columns: repeat(2, 1fr);
            

            gap: 40px;
        }

        @include lg{
            gap: 60px; 
        }

        #project-svg-container{
            grid-area: project-svg;

            display: grid;
            grid-template-columns: auto 50%;
            grid-template-areas: "project-svg-2";

            padding-bottom: 5%;

            @include md{ 
                grid-template-columns: auto 5%;
            }

            @include lg{ 
                grid-template-columns: auto 5%;
            }

            #project-svg{
                grid-area: project-svg-2;
            }

        }

        #photo1-photography-image{
            height: 609px;
            width: 359px;
            background-image: url('../img/Photo1.jpg');
            background-position: center;
            background-size: cover;

            grid-area: photography-image-1;

            @include lg{
                height: 750px;
                width: 458px;
            }
        }

        #photography-text-container{
            grid-area: photography-text;
            max-width: 450px;

            @include md{
                max-width: 325px;  
            }

            @include lg{
                max-width: 400px;
            }
    
            h1{
                font-weight: 800;
                font-size: rem-calc(26);
                color: white;
                padding-top: 5%;

                @include md{
                    font-size: rem-calc(40); 
                    padding-bottom: 20px;
                    padding-top: 0%;

                }
            }
            
            p{
                font-weight: 400;
                font-size: rem-calc(16); 
                color: white;
                padding-bottom: 5%;
                line-height: 1.3em;

                @include md{
                    font-size: rem-calc(20); 
                }
            }
        }
    }
}