#poster{
    background-color: black;
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 30px auto 30px;
    grid-template-areas: ". poster.";

    padding-top: 10%;

    @include md{
        grid-template-columns: 10% auto 10%;  
    }

    #poster-container{
        grid-area: poster;

        display: grid;
        grid-template-areas: "poster-image-1"
                             "poster-text";
        grid-gap: 10px;

        @include md{
            grid-template-areas: "poster-text poster-image-1";
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 100%);

            grid-gap: 40px;
        }

        @include lg{
            grid-gap: 60px; 
        }

        #photo1-poster-image{
            height: 609px;
            width: 359px;
            background-image: url('../img/Bembo.jpg');
            background-position: center;
            background-size: cover;

            grid-area: poster-image-1;

            @include lg{
                height: 750px;
                width: 458px;
            }
        }

        #poster-text-container{
            grid-area: poster-text;
            max-width: 450px;

            @include md{
                max-width: 325px;  
            }

            @include lg{
                max-width: 400px;
            }
    
            h1{
                font-weight: 800;
                font-size: rem-calc(26);
                color: white;

                @include md{
                    font-size: rem-calc(40); 
                    padding-bottom: 20px;

                }
            }
            
            p{
                font-weight: 400;
                font-size: rem-calc(16); 
                color: white;
                padding-bottom: 5%;
                line-height: 1.3em;

                @include md{
                    font-size: rem-calc(20); 
                }
            }
        }
   }
}