#poster{
    //background-color: black;
    width: 100vw;

    display: grid;
    grid-template-columns: 30px auto 30px;
    grid-template-areas: ". poster.";

    padding-top: 10%;
    padding-bottom: 5%;

    @include md{
        grid-template-columns: 10% auto 10%;  
    }

    #poster-container{
        grid-area: poster;

        display: grid;
        grid-template-areas: "poster-image"
                             "poster-text";
        gap: 10px;

        @include md{
            grid-template-areas: "poster-text poster-image";
            grid-template-columns: repeat(2, 1fr);

            gap: 40px;
        }

        @include lg{
            gap: 60px; 
        }

        #poster-image-container{
            grid-area: poster-image;

            display: flex;
            justify-content: center;

            #photo1-poster-image{
                height: 609px;
                width: 359px;
                background-image: url('../img/Bembo.jpg');
                background-position: center;
                background-size: cover;
    
                @include lg{
                    height: 750px;
                    width: 458px;
                }
            }
        }

        #poster-text-container{
            grid-area: poster-text;
            color: var(--white);

            display: flex;
            justify-content: center;

            #poster-text{
                max-width: 450px;

                @include md{
                    max-width: 325px;  
                }
    
                @include lg{
                    max-width: 400px;
                }
        
                h1{
                    font-weight: 800;
                    font-size: rem-calc(26);
                    padding-top: 5%;
    
                    @include md{
                        font-size: rem-calc(40); 
                        padding-bottom: 20px;
                        padding-top: 0%;
    
                    }
                }
                
                p{
                    font-weight: 400;
                    font-size: rem-calc(16); 
                    padding-bottom: 5%;
                    line-height: 1.3em;
    
                    @include md{
                        font-size: rem-calc(20); 
                    }
                }
            }
        }
   }
}