#publication{
    width: 100vw;

    display: grid;
    grid-template-columns: 0px auto 0px;
    grid-template-areas: ". publication .";

    #publication-container{
        grid-area: publication;

        display: grid;
        grid-template-areas: "publication-image-1"
                             "publication-text";

        @include md{
            grid-template-areas: "publication-image-1 publication-text";
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 100%);

            gap: 30px;
        }

        #publication-image-container{
            grid-area: publication-image-1;

            #photo1-publication-image{
                height: 609px;
                width: 100%;
                background-image: url('../img/Inspirecover.jpg');
                background-position: center;
                background-size: cover;
    
                @include md{
                    height: 750px;  
                }
            }
        }

        #publication-text-container{
            grid-area: publication-text;

            display: flex;
            justify-content: center;
            align-items: flex-end;

            padding-bottom: 30px;

            #publication-text{
                max-width: 450px;
    
                @include md{
                    max-width: 325px; 
                    padding-right: 30px;
                }
    
                @include lg{
                    max-width: 400px;
                }
        
                h1{
                    font-weight: 800;
                    font-size: rem-calc(26);
                    padding-bottom: 10px;
    
                    @include md{
                        font-size: rem-calc(40); 
                    }
                }
    
                h3{
                    font-weight: 800;
                    font-size: rem-calc(20);
                    padding-bottom: 10px;
    
                    @include md{
                        padding-bottom: 20px;
                    }
                }
                
                p{
                    font-weight: 400;
                    font-size: rem-calc(16); 
                    line-height: 1.3em;
    
                    @include md{
                        font-size: rem-calc(20); 
                    }
                }
            }
        }
    }
}