#publication{
    width: 100vw;
    height: 100%;
    background-color: var(--white);

    // display: grid;
    // grid-template-columns: 0px auto 0px;
    // grid-template-areas: ". publication .";

    #publication-container{
        //grid-area: publication;

        display: grid;
        grid-template-areas: "publication-image-1"
                             "publication-text";

        @include md{
            grid-template-areas: "publication-image-1 publication-text";
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 100%);

            gap: 30px;
        }

        #publication-image-container{
            //grid-area: publication-image-1;

            display: flex;
            align-items: center;
            justify-content: center;

            ul{
                height: 100%;
                width: 100%;
                //overflow: hidden;
    
                @include md{
                    height: 750px;  
                }

                li {
                    background-position: center;
                    background-size: cover;
                    border: 5px red solid;
                    
    
                    a:link,a:visited{
                        height: 609px;
                        width: 100%;
                        display: inline-block;

                        @include md{
                            height: 750px;  
                        }

                    }
                }
            }

            .carousel {
                height: 100%;
                width: 100%;

                color: #170724;
              
                --carousel-button-svg-width: 20px;
                --carousel-button-svg-height: 20px;
                --carousel-button-svg-stroke-width: 2.5;

                .carousel__viewport {

                    width: 100%;
                    height: 100%;
                    //width: calc(55% + 120px);
                    margin-left: auto;
                }

                .carousel__slide {
                    width: 100%;
                    height: 100%;
                    padding: 60px 60px 60px 160px;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .carousel__button{
                    z-index: 2;
                }

                .carousel__button.is-prev {
                    left: 10rem;
                    top: 45rem;
                }
                  
                .carousel__button.is-next {
                    right: 10rem;
                    top: 45rem;
                }
                  
                .carousel__button:focus {
                    //outline: none;
                    //box-shadow: 0 0 0 4px var(--yellow);
                    color: var(--yellow);
                }

                .carousel__dots {
                    top: calc(100% - 22px);
                    color: #000;
                    z-index: 300;

                    .has-dots {
                        margin-bottom: 0px;
                    }
                }
                .carousel__image-container {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 55%;
                    bottom: 0;
                    z-index: 1;
                    overflow: hidden;

                }
                .carousel__image-container ul {
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                    height: 100%;
                    width: 100%;  
                }

                .carousel__image-container li {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transition: opacity 0.35s;
                  
                    user-select: none;
                }

                .carousel__image-container li:before {
                    content: "";
                    position: absolute;
                    z-index: 1;
                }

                .carousel__image-container li a:link a:visited {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                // .carousel__image-container li.is-active {
                //     opacity: 1;
                // }
            }

            #publication-1{
                background-image: url('../img/Inspirecover.jpg');
            }

            #publication-2{
                background-image: url('../img/Inspirespread.jpg');

            }

            #publication-3{
                background-image: url('../img/inspirelast.jpg');

            }

            #publication-4{
                background-image: url('../img/Inspirespread.jpg');

            }
        }

        #publication-text-container{
            grid-area: publication-text;

            display: flex;
            justify-content: center;
            align-items: flex-end;

            padding-bottom: 30px;
            padding-top: 5%;

            @include md{
                padding-top: 0%;
            }

            #publication-text{
                max-width: 450px;
                color: var(--black);
    
                @include md{
                    max-width: 325px; 
                    padding-right: 30px;
                }
    
                @include lg{
                    max-width: 400px;
                }
        
                h1{
                    font-weight: 800;
                    font-size: rem-calc(26);
                    padding-bottom: 10px;
    
                    @include md{
                        font-size: rem-calc(40); 
                    }
                }
    
                h3{
                    font-weight: 800;
                    font-size: rem-calc(20);
                    padding-bottom: 10px;
    
                    @include md{
                        padding-bottom: 20px;
                    }
                }
                
                p{
                    font-weight: 400;
                    font-size: rem-calc(16); 
                    line-height: 1.3em;
    
                    @include md{
                        font-size: rem-calc(20); 
                    }
                }
            }
        }
    }
}




 



// #publication{
//     width: 100vw;
//     background-color: var(--white);

//     display: grid;
//     grid-template-columns: 0px auto 0px;
//     grid-template-areas: ". publication .";

//     #publication-container{
//         grid-area: publication;

//         display: grid;
//         grid-template-areas: "publication-image-1"
//                              "publication-text";

//         @include md{
//             grid-template-areas: "publication-image-1 publication-text";
//             grid-template-columns: repeat(1, 1fr);
//             grid-template-rows: repeat(1, 100%);

//             gap: 30px;
//         }

//         #publication-image-container{
//             grid-area: publication-image-1;

//             ul{
//                 height: 100%;
//                 width: 100%;
//                 //overflow: hidden;
    
//                 @include md{
//                     height: 750px;  
//                 }

//                 li {
//                     background-position: center;
//                     background-size: cover;
    
//                     a:link,a:visited{
//                         height: 609px;
//                         width: 100%;
//                         display: inline-block;

//                         @include md{
//                             height: 750px;  
//                         }

//                     }
//                 }
//             }

//             .carousel {
//                 height: 609px;
//                 width: 100%;

//                 @include md{
//                     height: 750px;  
//                 }

//                 color: #170724;

//                 //--carousel-button-bg: #fff;
//                 // --carousel-button-shadow: 0 2px 1px -1px rgb(f f f / 20%), 0 1px 1px 0 rgb(0 0
//                 //         0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
              
//                 --carousel-button-svg-width: 20px;
//                 --carousel-button-svg-height: 20px;
//                 --carousel-button-svg-stroke-width: 2.5;

//                 .carousel__slide {
//                     display: flex;
//                     align-items: center;
//                     justify-content: center;
                  
//                     width: 100%;
//                     height: 100%;
//                 }

//                 .carousel__button.is-prev {
//                     left: 10rem;
//                     top: 45rem;
//                 }
                  
//                 .carousel__button.is-next {
//                     right: 10rem;
//                     top: 45rem;
//                 }
                  
//                 .carousel__button:focus {
//                     //outline: none;
//                     //box-shadow: 0 0 0 4px var(--yellow);
//                     color: var(--yellow);
//                 }

//                 .carousel__dots {
//                     top: calc(100% - 22px);
//                     color: #000;
//                     z-index: 20;

//                     .has-dots {
//                         margin-bottom: 0px;
//                     }
//                 }
              
//             }

//             #publication-1{
//                 background-image: url('../img/Inspirecover.jpg');
//             }

//             #publication-2{
//                 background-image: url('../img/Inspirespread.jpg');

//             }

//             #publication-3{
//                 background-image: url('../img/inspirelast.jpg');

//             }

//             #publication-4{
//                 background-image: url('../img/Inspirespread.jpg');

//             }
//         }

//         #publication-text-container{
//             grid-area: publication-text;

//             display: flex;
//             justify-content: center;
//             align-items: flex-end;

//             padding-bottom: 30px;
//             padding-top: 5%;

//             @include md{
//                 padding-top: 0%;
//             }

//             #publication-text{
//                 max-width: 450px;
//                 color: var(--black);
    
//                 @include md{
//                     max-width: 325px; 
//                     padding-right: 30px;
//                 }
    
//                 @include lg{
//                     max-width: 400px;
//                 }
        
//                 h1{
//                     font-weight: 800;
//                     font-size: rem-calc(26);
//                     padding-bottom: 10px;
    
//                     @include md{
//                         font-size: rem-calc(40); 
//                     }
//                 }
    
//                 h3{
//                     font-weight: 800;
//                     font-size: rem-calc(20);
//                     padding-bottom: 10px;
    
//                     @include md{
//                         padding-bottom: 20px;
//                     }
//                 }
                
//                 p{
//                     font-weight: 400;
//                     font-size: rem-calc(16); 
//                     line-height: 1.3em;
    
//                     @include md{
//                         font-size: rem-calc(20); 
//                     }
//                 }
//             }
//         }
//     }
// }





// #publication{
//     width: 100vw;
//     background-color: var(--white);

//     display: grid;
//     grid-template-columns: 0px auto 0px;
//     grid-template-areas: ". publication .";

//     #publication-container{
//         grid-area: publication;

//         display: grid;
//         grid-template-areas: "publication-image-1"
//                              "publication-arrows"
//                              "publication-text";

//         @include md{
//             grid-template-areas: "publication-image-1 publication-text"
//                                  "publication-arrows .";
//             grid-template-columns: repeat(1, 1fr);
//             grid-template-rows: repeat(2, 100%);

//             column-gap: 30px;

//             //gap: 30px;
//         }

//         #publication-image-container{
//             grid-area: publication-image-1;


//             #photo1-publication-image{
//                 //max-height: 500px;
//                 //overflow: hidden;
//                 //width: 100%;
//                 //background-image: url('../img/Inspirecover.jpg');
//                 // background-position: center;
//                 // background-size: cover;
    
//                 @include md{
//                 }

//                 img{
//                     height: 450px;
//                     width: 100%;

//                     @include md{
//                         height: 450px;
//                         width: 100%;
//                     }
                    
//                     @include lg{
//                         height: 650px;
//                         width: 100%;
//                     }
//                 }
//             }
//         }

//         #publication-text-container{
//             grid-area: publication-text;

//             display: flex;
//             justify-content: center;
//             align-items: flex-end;

//             padding-bottom: 30px;
//             padding-top: 5%;

//             @include md{
//                 padding-top: 5%;
//             }

//             #publication-text{
//                 max-width: 450px;
//                 color: var(--black);
    
//                 @include md{
//                     max-width: 325px; 
//                     padding-right: 30px;
//                 }
    
//                 @include lg{
//                     max-width: 400px;
//                 }
        
//                 h1{
//                     font-weight: 800;
//                     font-size: rem-calc(26);
//                     padding-bottom: 10px;
    
//                     @include lg{
//                         font-size: rem-calc(40); 
//                     }
//                 }
    
//                 h3{
//                     font-weight: 800;
//                     font-size: rem-calc(20);
//                     padding-bottom: 10px;
    
//                     @include md{
//                         padding-bottom: 20px;
//                     }
//                 }
                
//                 p{
//                     font-weight: 400;
//                     font-size: rem-calc(16); 
//                     line-height: 1.3em;
    
//                     @include lg{
//                         font-size: rem-calc(20); 
//                     }
//                 }
//             }
//         }

//         #publication-arrow-container{
//             grid-area: publication-arrows;
//             padding: 20px 25px 20px;
//             // max-width: 400px;
//             // display: grid;
//             // grid-template-columns: 0px;
//             // grid-area: ". arrows .";
            
//             #publication-arrow{
//                 height: 100%;
//                 width: 100%;
//                 grid-area: arrows;
//             }
//         }
//     }
// }