/* =============
    Footer
============= */
footer{
    height: 100%;
    width: 100vw;

    background: linear-gradient(-45deg, #FF3F47 30%, #FFD400, #938D0E);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;

    @keyframes gradientBG {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    #footer-content{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
    }

    h1{
        color: white;
        font-family: 'Sonder-Medium';
        font-size: rem-calc(24px);
        padding: 20px;
        margin: 20px;

        @include md{
            font-size: rem-calc(36px);   
        }
    }

    #links{
        height: 50px;
        width: 50px;
        padding: 20px;
        margin: 20px;
        //float: right; 
    }
}