/* =============
    Footer
============= */
footer{
    height: 100%;
    width: 100vw;
    background-image: url("../img/Hero.jpg");
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        color: white;
        background-color: rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin: 20px;
    }
}