/* =============
    Header
============= */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    background-color: rgba(0, 0, 0, 0.4);

    #full-nav {
        display: grid;
        grid-template-areas: 
        "toggle burger"
        "nav nav";
        grid-template-columns: 50% auto;

        @include md {
            grid-template-areas: "toggle nav";
            grid-template-columns: 40% auto;
        }

        #burger-container {
            justify-content: flex-end;
            display: flex;
            grid-area: burger;
            padding: 30px;
            position: relative;

            @include md {
                display: none !important;
            }

            #burger{
                position: absolute;
                z-index: 500;
                height: 40px;
                width: 40px;
            }
        }

        #mobile-nav-container {
            //background-color: var(--black);
            position: relative;
            z-index: 1;

            background: linear-gradient(-45deg, #FF3F47 30%, #FFD400, #938D0E);
	        background-size: 400% 400%;
	        animation: gradientBG 15s ease infinite;

            @keyframes gradientBG {
                0% {
                    background-position: 0% 50%;
                }
                50% {
                    background-position: 100% 50%;
                }
                100% {
                    background-position: 0% 50%;
                }
            }       
            grid-area: nav;
            position: fixed;
            width: 100vw;
            height: 100vh;
            z-index: 50;

            @include md {
                background: transparent;
                position: static;
                height: 50px;
                width: 100%;
            }
        }

        .theme-switch-wrapper{
            grid-area: toggle;
        }
    }
}