/* =============
    Navigation
============= */
#mobile-nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include md {
        height: 100%;
        display: flex;
        justify-content: right;
    }


    ul {
        @include md {
            height: 100%;
            display: flex;
        }

        li {
            margin-bottom: 20px;
            text-align: center;

            @include md {
                align-items: center;
                display: flex;
                margin-bottom: 0px;
                padding-right: 30px;
            }

            button {
                background-color: transparent;
                font-family: 'Open Sans', sans-serif;
                font-weight: 900;
                font-size: rem-calc(16);
                text-decoration: none;
                transition: 0.25s;
                cursor: pointer;
                color: $white;
                border: none;
 
                @include md {
                    font-size: rem-calc(18);
                }
 
                &:hover{
                    color: var(--yellow);
                }
            }
        }
    }
}    

// #mobile-nav-container{
//     height: 100vh;
//     width: 100vw;
//     top:0;
//     right:0;
//     z-index: 100; 
//     position: fixed; 

//     @include md{
//         height: 100%;
//         width: 100%;
//         background-color: rgba(0, 0, 0, 0.4);
//         position: static;
//     }

//     ul{
//         height: 100%;
//         width: 100%;
//         min-height: 100%;
//         display: flex;
//         flex-wrap: wrap;
//         flex-direction: row;

//         @include md{
//             // display: flex;
//             // justify-content: center;
//             // align-items: center;
//             // height: 100%; 
//             max-height: 20%;
//         }

//         li{
//             display: flex; 
//             flex-basis: calc(100% - 0px);  
//             justify-content: center;
//             flex-direction: column;

//             @include md{
//                 //margin-left: 5vw;
//                 flex-basis: calc(20% - 0px);  
//                 justify-content: center;
//                 flex-direction: column;
//             }

//             button {
//                 background-color: transparent;
//                 font-family: 'Open Sans', sans-serif;
//                 font-size: rem-calc(16);
//                 font-weight: 900;
//                 color: white;
//                 text-decoration: none;
//                 transition: 0.25s;
//                 cursor: pointer;
//                 border: none;
                
//                 @include md{
//                     font-size: 18px;
//                 }

        
//                 // &:hover{
//                 //     color: $yellow;
//                 // }

//             }

//         }

//         #mobile-about-box{
//             // @include md{
//             //     background-color: none;
//             // }
//             background-color: var(--black);
//             //background-image: url(img/Hero.jpg) ;
//         }

//         #mobile-projects-box{
//             background-color: var(--black);
//         }

//         #mobile-contact-box{
//             background-color: var(--black);
//             //background-image: url(img/Hero.jpg) ;
//         }

        
//     }
// }
// nav{
//     height: 100vh;
//     width: 100vw;
//     top:0;
//     right:0;
//     z-index: 100; 
//     position: fixed; 

//     @include md{
//         height: 100%;
//         width: 100%;
//         background-color: rgba(0, 0, 0, 0.4);
//         position: static;
//     }

//     // #burger-container {
//     //     justify-content: flex-end;
//     //     display: flex;
//     //     padding: 30px;
//     //     right: 0;
//     //     position: absolute;
//     //     cursor: pointer;

//     //     @include md{
//     //         display: none;
//     //     }

//     //     #burger{
//     //         z-index: 30;
//     //         height: 40px;
//     //         width: 40px;
//     //     }

//     // }

//     ul{
//         height: 100%;
//         width: 100%;
//         min-height: 100%;
//         display: flex;
//         flex-wrap: wrap;
//         flex-direction: row;

//         @include md{
//             // display: flex;
//             // justify-content: center;
//             // align-items: center;
//             // height: 100%; 
//             max-height: 20%;
//         }

//         li{
//             display: flex; 
//             flex-basis: calc(100% - 0px);  
//             justify-content: center;
//             flex-direction: column;

//             @include md{
//                 //margin-left: 5vw;
//                 flex-basis: calc(20% - 0px);  
//                 justify-content: center;
//                 flex-direction: column;
//             }

//             button {
//                 background-color: transparent;
//                 font-family: 'Open Sans', sans-serif;
//                 font-size: rem-calc(16);
//                 font-weight: 900;
//                 color: white;
//                 text-decoration: none;
//                 transition: 0.25s;
//                 cursor: pointer;
//                 border: none;
                
//                 @include md{
//                     font-size: 18px;
//                 }

        
//                 // &:hover{
//                 //     color: $yellow;
//                 // }

//             }

//         }

//         #mobile-about-box{
//             // @include md{
//             //     background-color: none;
//             // }
//             background-color: var(--black);
//             //background-image: url(img/Hero.jpg) ;
//         }

//         #mobile-projects-box{
//             background-color: var(--black);
//         }

//         #mobile-contact-box{
//             background-color: var(--black);
//             //background-image: url(img/Hero.jpg) ;
//         }

        
//     }
// }