/* =============
    Navigation
============= */
nav{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top:0;
    right:0;
    z-index: 100;  

    @include md{
        height: 50px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }

    #burger-container {
        justify-content: flex-end;
        display: flex;
        padding: 30px;
        right: 0;
        position: absolute;
        cursor: pointer;

        @include md{
            display: none;
        }

        #burger{
            z-index: 30;
            height: 40px;
            width: 40px;
        }

    }

    ul{
        height: 100%;
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        @include md{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%; 
        }

        li{
            display: flex; 
            flex-basis: calc(100% - 0px);  
            justify-content: center;
            flex-direction: column;
            @include md{
                margin-left: 5vw;
            }

            button {
                background-color: transparent;
                font-family: 'Open Sans', sans-serif;
                font-size: rem-calc(16);
                font-weight: 900;
                color: white;
                text-decoration: none;
                transition: 0.25s;
                cursor: pointer;
                border: none;
                
                @include md{
                    font-size: 18px;
                }

        
                // &:hover{
                //     color: $yellow;
                // }

            }

        }

        #mobile-about-box{
            background-color: var(--black);
            //background-image: url(img/Hero.jpg) ;
        }

        #mobile-projects-box{
            background-color: var(--black);
        }

        #mobile-contact-box{
            background-color: var(--black);
            //background-image: url(img/Hero.jpg) ;
        }

        
    }
}